<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Crear cursos |Digital Drinks</title>
    <link rel="stylesheet" href="/stylesheets/styleCreateEdit.css">
    <script src="https://kit.fontawesome.com/5376d63d7e.js" crossorigin="anonymous"></script>
    <meta name="description" content="cocktails, drinks, bar tools, herramientas de barra, cocteleras, cocktails recepies, recetas de cocteles, cursos de cocteleria">
</head>
<body>
    <div class="reg-box"> 
      
        <h2> Crea tu Curso</h2>
        <form action="/courses/create" method="POST" enctype="multipart/form-data">
        <div class="reg-fill">  
             <!-- Desde aqui todo lo que queremos crear en un curso -->

                <label for="name">Nombre del Curso</label>
                <input type="text" name="name" placeholder="Sommelier">
            
                <label for="price" >Precio :</label>
                <input type="text" id="price" name="price" placeholder="$ 18540" >

                <label for="discount">Descuento:</label>
                <input type="text" id="discount" name="discount" placeholder="15%" >

                 <label for="description" class="">Descripción:</label>
                 <textarea name="description" id="description" class="form-input"></textarea>
                 <p>Agregar imagen</p>
                 <input type="file" name="image">
                 <br>
                 <button type="submit">Guardar curso</button>
        </div>
    </form>
    </div> 
</body>
</html>