<!DOCTYPE html>
<html lang="en">
<head>
    <!--head/partial-->
    <%- include('../partials/head') %>
    <!--fin head/partial-->
    <link rel="stylesheet" href="/stylesheets/coursesContact.css">
</head>
<body>
    <!--header/partial-->
    <%- include('../partials/header') %>
    <!--fin header/partial--> 
    <div class="consult_main_container">
        <form action="/courses/coursesContact" method="POST" class="consult_courses_form">
            <div class="consult_detail">
                <label for="email">Email</label>
                <br>
                <input type="email" name="email" id="email" placeholder="email@email">
            </div>
            <div class="consult_detail">
                <label for="nombre">Nombre</label>
                <br>
                <input type="text" name="nombre" id="nombre" placeholder="Lolla Palooza">
            </div>
            <div class="consult_detail">
                <label for="info">Solicitud de Informacion</label>
                <br>
                <textarea name="info" id="info" cols="20" rows="10"></textarea>
            </div>
            <div class="contact_courses_button">
                <button type="submit">Enviar tu consulta</button>
            </div>
        </form>
    </div>
    <!--footer/partial-->
    <%- include('../partials/footer') %>
    <!--final footer/partial-->        
</body>
</html>