<!DOCTYPE html>
<html lang="en">
    <!--head/partial-->
    <%- include('../partials/head', {title: 'Carrito| Digital Drinks'}) %>
    <!--fin head/partial-->
<body>
    <div class="central_container">
    <!--header/partial-->
    <%- include('../partials/header') %>
    <!--fin header/partial-->

<!-- Contenido del carrito -->
<link rel="stylesheet" href="/stylesheets/productCart.css">
        <main class="cart">
            <div class="cart2">
                <div class="cart_header">
                    <h3>Mi Carrito</h3>
                    
                </div>
                
                <!-- Aqui comienza lo que lleva el carrito,  -->
                <article class="cart"> 
                <article class="carrito_item">
                    
                    <div class="fo"> 
                    <img src="/images/products/absolut.png" alt="foto">
                    </div>    

                    <div class="a">
                        <p>Absolut</p> 
                    </div>   
 
                    
                       <div class="b">
                        <p>$______ </p>
                        </div>     
                
                        <div class="c">
                        <label for="cantidad">Cantidad</label>
                        <input type="number">
                        </div>

                        <div class="d">
                        <label for="precio_total">$  subtotal</label>    
                       </div>
                   

                   <div class="eli">
                    <button class="delete_button"><a href="">Eliminar</a></button>
                   </div>
               
                </article>   
               
                 <!-- Aqui terminael primer art,  -->
                  <!-- Aqui segundo art,  -->
                  <article class="carrito_item">
                    
                    <div class="fo"> 
                    <img src="/images/products/aperol.png" alt="foto">
                    </div>    

                    <div class="a">
                        <p>Aperol</p> 
                    </div>   
 
                    
                       <div class="b">
                        <p>$______ </p>
                        </div>     
                
                        <div class="c">
                        <label for="cantidad">Cantidad</label>
                        <input type="number">
                        </div>

                        <div class="d">
                        <label for="precio_total">$  subtotal</label>    
                       </div>
                   

                      <div class="eli">
                       <button class="delete_button"><a href="">Eliminar</a></button>
                      </div>
               
                    </article>   

                   <!-- Aqui terminael segundo art,  -->
                   <!-- Aqui tercer art,  -->
                   <article class="carrito_item">
                    
                      <div class="fo"> 
                      <img src="/images/products/glenlivet.png" alt="foto">
                      </div>    

                     <div class="a">
                        <p>Glenlivet</p> 
                     </div>   
 
                    
                     <div class="b">
                     <p>$______ </p>
                     </div>     
                
                     <div class="c">
                     <label for="cantidad">Cantidad</label>
                     <input type="number">
                     </div>

                     <div class="d">
                     <label for="precio_total">$  subtotal</label>    
                     </div>
                    
                      <div class="eli">
                       <button class="delete_button"><a href="">Eliminar</a></button>
                      </div>
               
                   </article>   

                  <!-- Aqui terminael tercer art,  -->
                </article>
 
                <!-- button de pagar y agrego una pagina checkOut gracias por tu compra  -->

                <div class="return_to_list">
             <a href="/" >Pagar</a>
            </div>





                
            </div>            
        </main>
    <!--footer/partial-->
    <%- include('../partials/footer') %>
    <!--final footer/partial-->
    <script src="./javascripts/slider.js"></script>
</body>
</html>