/*--------------------------------------------------------*/
/*Estilos de detalle de productos*/
/*--------------------------------------------------------*/
.product_detail_container img, .courses_detail_container img {
    width: 500px; 
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.product_description {
    color: #483D8B;
}
.prices {
    display: flex;
    align-self: flex-start;
}
.prices h4 {
    color: #FF6600;
    margin-left: 25px;
}
.product_description h3 {
    margin: 30px 0px 10px 0px;
    align-self: flex-start;
}
.products_detail_buttons {
    margin-top: 8%;
}
.product_quantity {
    display: flex;
    margin-top: 5%;
}
.product_quantity label {
    color: #483D8B;
    font-weight: bold;
    margin-right: 10px;
    font-size: 20px;
}
.product_quantity input {
    border-radius: 5px;
    border: #483D8B 1px solid;
}
.product_quantity a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px; 
}
/*--------------------------------------------------------*/
/* Estilos pagina detalle de recetas */
/*--------------------------------------------------------*/
.detail_container, .product_detail_container, .courses_detail_container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    align-content: center;
    justify-content: center;
    background-color: white;
    margin: auto;
    margin-top: 60px;
    padding: 25px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.detail_container img {
    width: 25vh;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.detail_description {
    justify-content: space-between;
    margin: 15px 15px 0px 30px;
}
.detail_name {
    color: #FF6600;
    font-size: 25px;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.recipe_description {
    color: #483D8B;
    margin-top: 25px;
}
.recipe_description h4, .product_description h3 {
    font-size: 18px;
    text-decoration: underline;
}
.recipe_description p {
    margin: 5px 0px 0px 15px;
}
.return_to_list {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.return_to_list a {
    text-decoration: none;
    background-color: #483D8B;
    color: white;
    padding: 15px 55px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
}
.return_to_list a:hover {
    background-color: #FF6600;
}
.edition_button_recipes, .products_detail_buttons  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
}
.edition_button_recipes {
    margin-top: 15%;
}
.edition_button_recipes a, .products_detail_buttons a, .edition_button_recipes input, .products_detail_buttons input {
    text-decoration: none;
    color: white;
    padding: 7px 30px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}
.edition_button_recipes a, .products_detail_buttons a, .product_quantity a:hover, .edition_button_recipes input,.products_detail_buttons input {
    background-color: #483D8B;
}
.edition_button_recipes a:hover,  .products_detail_buttons a:hover, .product_quantity a, .edition_button_recipes input:hover,
.products_detail_buttons input:hover {
    background-color: #FF6600;
}
.edition_button_recipes input, .products_detail_buttons input{
    border: none;
    cursor: pointer;
}
.products_detail_buttons button {
    border: none;
    background-color: #483D8B;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 7px 30px;
    border-radius: 15px;
    margin-left: 15px;
}
.products_detail_buttons button:hover {
    background-color: #FF6600;  
}
/*--------------------------------------------------------*/
/*Estilos de detalle de cursos*/
/*--------------------------------------------------------*/
.course_name {
    color: #FF6600;
    font-size: 25px;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    margin-bottom: 25px;
}
/*--------------------------------------------------------*/
/*Estilos de pagina de contacto*/
/*--------------------------------------------------------*/
.consult_main_container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.consult_courses_form {
    width: 75%;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 0px 50px;
}
.consult_detail {
    flex-wrap: wrap;
    padding: 25px 0px;
}
.consult_detail label {
    color: #483D8B;
    font-size: 20px;
    font-weight: bold;
}
.consult_detail input {
    width: 85%;
    border-radius: 15px;
    padding: 7px 10px;
    margin-top: 10px;
    border: solid 2px #FF6600;
    font-size: 17px;
}
.consult_detail textarea {
    width: 95%;
    height: 100px;
    border-radius: 15px;
    padding: 10px 10px;
    margin-top: 5px;
    border: solid 2px #FF6600;
    font-size: 17px;
}
.contact_courses_button {
    margin: 20px;
    text-align: center;
}
.contact_courses_button button {
    color: white;
    background-color: #483D8B;
    padding: 10px 25px;
    font-size: 17px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
.contact_courses_button button:hover {
    background-color: #FF6600;
}
/*--------------------------------------------------------*/
/*responsive*/
/*--------------------------------------------------------*/
@media (min-width:900px) {
    /*detalle de recetas*/
    .detail_container  {
        flex-wrap: nowrap;
        width: 75%;
    }
    .detail_container img {
        width: auto;
        height: 37.3vh;
        align-self: center;
    }
    /*detalle productos*/
    .product_detail_container {
        flex-wrap: nowrap;
        width: 85%;
    }
    .product_detail_container img {
        width: auto;
        height: 42.6vh;
        align-self: center;
    }
    /*detalle de cursos*/
    .courses_detail_container {
        flex-wrap: nowrap;
        width: 85%;
    }
    .courses_detail_container img {
        width: auto;
        height: 21.3vh;
        align-self: center;  
    }
}
@media (min-width:1024px) {
    /*detalle de recetas*/
    .detail_container {
        width: 65%;
    }
    .product_detail_container {
        width: 85%;
    }
    .courses_detail_container img {
        width: auto;
        height: 33vh;
        align-self: center;  
    }
}