/*--------------------------------------------------------*/
/* Barra de busqueda */
/*--------------------------------------------------------*/
.central_container {
    width: 100%;
}
.search_container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.search_container input{
    border: solid 1px slategray;
    padding: 5px;
    border-radius: 10px;
    width: 300px;
}
/*--------------------------------------------------------*/
/* CSS products, recipes, courses  */
/*--------------------------------------------------------*/
.product_detail_description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.product {
    background-color:white;
    border-radius: 10px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.25s;
    width: 28%;
    margin: 20px 0;
    position: relative;
    padding: 15px;
    padding-bottom: 50px;
}
@media screen and (max-width: 900px) {
    .product_detail_description { flex-direction: column; }
    .product {
        width: 75%;
        margin: 20px auto;
    }
}
@media screen and (min-width: 901px) and (max-width: 1100px) {
    .product { width: 45%; }
}
.product .product_img_container {
    text-align: center;
}
.product_img{
    width: 31%;
    margin: 20px 5px;
}
.course_img{
    width: 60%;
    margin: 20px 5px;
    height: 150px;
}
.recipe_img{
    width: 45%;
    margin: 20px 5px;
}
.product_description h2{
    text-align: center;
    min-height: 3em;
}
.product_description p {
    padding-bottom: 10px;
    text-align: center;
}
/* Aside */
.categories_container{
    display: none;
}
/*Botones de ver mas*/
.see_more {
    color: white;
    background-color: #483D8B;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.see_more:hover {
    background-color: #FF6600;
}
