

/** comienzo con el codigo **/

.cart{
  /* background-color: red; */
}
.cart_header h3{
  text-align: center;
  font-size: 30px;
  color: #483D8B;
  /* background-color: blue */
 }

.carrito_item {
  display: grid;
  grid-template-columns: 0.2fr 0.5fr 0.3fr 0.3fr 0.5fr 0.1fr;
  gap: 1em;
  margin: 1em;
  height: 100px;
  align-items: center;
  justify-items: center;
  border-radius: 15px;
  margin: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: RGB(255, 255, 255, 0.8);
}

.fo img {
  width: 40%;
  /* background-color: yellow; */
}

.c {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  /* background-color: orange; */
}
.d {
  /* background-color: hotpink; */
}
.pay {
  /* background-color: indigo; */
  display: flex;
  justify-content: flex-end;
}

/*  hasta aqui */
.cart_item {
  background-color: lightgray;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}
.cart_description {
  display: flex;
  flex-direction: column;
}

.delete_button {
  background-color: #ff9100;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  padding: 4px;
}

.delete_button:hover {
  transform: translateY(5px);
  color: white;
  background-color: darkslateblue;
}

.no_items_container {
    display: flex;
    justify-content: center;
    align-content: center;
}
.message {
    flex-wrap: wrap;
    text-align: center;
    width: 50%;
    padding: 40px;
    margin: 120px 50px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.message h3 {
    color: #483D8B;
    margin: 20px 0px;
}
.message h2 {
    color: #FF6600;
    margin: 20px 0px;
}
/*me traje el responsive de style.css*/

/* @media (min-width: 900px) {
  /*header y navbar
  .toggle_nav,
  .not_visible {
    display: none;
  }
  .navigation_bar {
    display: flex;
  }
  .header_container {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    width: 150%;
  }
  .sign_button {
    justify-content: right;
    margin-top: 60px;
  }
  .options {
    flex-direction: row;
  }
  .options li a {
    background-color: transparent;
    color: #483d8b;
    border-left: solid 2px #483d8b;
    padding: 8px;
    margin: 10px 0px;
    font-size: 18px;
  }
  .options li a:hover {
    background-color: #ff66006e;
  }
  /*slider
  .contenedor {
    margin: 70px 0px;
  }
  /*detalle de recetas
  .detail_container {
    flex-wrap: nowrap;
    width: 75%;
  }
  .detail_container img {
    width: auto;
    height: 37.3vh;
    align-self: center;
  }
  /*detalle productos
  .product_detail_container {
    flex-wrap: nowrap;
    width: 85%;
  }
  .product_detail_container img {
    width: auto;
    height: 42.6vh;
    align-self: center;
  }
  /*detalle de cursos
  .courses_detail_container {
    flex-wrap: nowrap;
    width: 85%;
  }
  .courses_detail_container img {
    width: auto;
    height: 21.3vh;
    align-self: center;
  }
  /*cajas de index donde linkeamos nuestros items
  .item {
    flex-wrap: wrap;
    width: 25%;
    margin: 20px;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  /*detalle de recetas
  .detail_container {
    width: 65%;
  }
  .product_detail_container {
    width: 85%;
  }
  .courses_detail_container img {
    width: auto;
    height: 33vh;
    align-self: center;
  }
  /* estilos pagina de consulta
  .consult_courses_form {
    width: 45%;
  }
  .consult_detail input {
    width: 80%;
  }
  .consult_detail textarea {
    width: 90%;
  }
} */