body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(/images/home/fondo.jpg);
  font-family: Verdana, sans-serif;
  background-repeat: repeat;
  background-attachment: fixed;
}
.centry {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-box {
  box-shadow: 12px 12px 16px rgba(0, 0, 0, 0.2);
  width: 320px;
  height: auto;
  background: whitesmoke;
  color: darkslateblue;
  border-radius: 5%;
  margin-top: 70px;
  margin-bottom: 70px;
}

.login-box .logo {
  width: 50%;
  position: relative;
  top: 5px;
  align-items: center;
}

.login-box .h1 {
  margin: 0;
  position: relative;
  bottom: 200px;
  padding: 100px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.login-box {
  text-align: center;
}
.login-box label {
  margin: 0;
  padding: 0px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.login-box input {
  width: 80%;
  margin-bottom: 20px;
  text-align: center;
}
.login-box input [type="username"] {
  color: darkslateblue;
  font-size: 14px;
}
.login-box input[type="password"] {
  color: darkslateblue;
  font-size: 14px;
}

.login-box input[type="submit"] {
  background-color: #ff9100;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
}

.login-box input[type="submit"]:hover {
  transform: translateY(5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  background-color: darkslateblue;
}
.login-box a {
  color: darkslateblue;
  font-size: 12px;
  text-decoration: none;
}
.login-button a {
  font-size: 18px;
  border-radius: 30px;
  background-color: #ff9100;
  padding: 10px 25px;
  color: white;
}
.login-button a:hover {
  transform: translateY(5px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  background-color: darkslateblue;
  color: white;
}
small {
  height: 18px;
  display: block;
  color: red;
  font-size: 9px;
}
.box.error input {
  border: 0.5px solid red;
}
.box.succes input {
  border: 0.5px solid green;
}
.errors {
  text-align: left;
  color: red;
  font-weight: bold;
}
