.user_main_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
.user_main_container h2 {
    color: #ff6600;
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.user_list_container {
    margin: 10px 0px;
    padding: 15px 15px 15px 25px;
    width: 100%;
    font-size: 18px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.user_list_container div{
    display: flex;
    align-items: center;
    margin: 10px;
}
.user_list_container h4 {
    color: #FF6600;
}
.user_list_container p {
    color: #483D8B;
    margin-left: 10px;
}
.user_buttons_container {
    display: flex;
    justify-content: space-between;
    float: right;
}
.user_buttons_container input {
    padding: 7px 30px;
    border: none;
    background-color: #483D8B;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
}
.user_buttons_container input:hover, .user_button_back a:hover  {
    background-color: #ff6600;
    cursor: pointer;
}
.user_button_back a {
    padding: 7px 30px;
    text-decoration: none;
    background-color: #483D8B;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
}

