<!DOCTYPE html>
<html lang="en">
<head>
    <!--head/partial-->
    <%- include('partials/head', {title: 'Digital Drinks'}) %>
    <!--fin head/partial-->
    <link rel="stylesheet" href="/stylesheets/aboutUs.css">
</head>
<body>
    <!--header/partial-->
    <%- include('partials/header', {title: 'Digital Drinks'}) %>
    <!--fin header/partial-->
    
    <!--visual de home/ posible partial-->
    <main class="index_main_container">
        <section class="index_item_container">
            <article class="index_item">
                <img src="./images/us/xime.jpg" alt="">
                <div class="index_item_description">
                    <h4>Ximena Camacho</h4>
                    <h2>CEO</h2>
                    <p>Estudiante de programación front y back-end, con anterioridad estudie un año la Tecnicatura Superior en Programación en la UTN. Soy entusiasta a la hora de realizar cada actividad y autodidacta para lograr mis objetivos. Me apasiona todo lo que representa un desafío y expandir mis conocimientos. Mamá x 4, y en mi tiempo libre disfruto de la música y los juegos online.</p>
                    <a href="https://www.linkedin.com/in/ximena-camacho-99949a75/" class="see_more">LinkdIn</a>
                </div>
            </article>
            <article class="index_item">
                <img src="./images/us/Carlos.jpg" alt="">
                <div class="index_item_description">
                    <h4>Carlos Loffreda</h4>
                    <h2>CEO</h2>
                    <p>Soy comerciante y estudiante de programación web full stack. Me gusta el cine, los video juegos, la música y me intriga mucho como funciona todo en el mundo digital.</p>
                    <a href="https://www.linkedin.com/in/carlos-loffreda-3568711a2/" class="see_more">LinkdIn</a>
                </div>
            </article>
            <article class="index_item">
                <img src="./images/us/Rob.jpg" alt="Robert Rondon">
                <div class="index_item_description">
                    <h4>Rob Rondon</h4>
                    <h2>CEO</h2>
                    <p>Soy estudiante de web developer con amplios conocimientos en el mundo de la cocteleria clasica y mixologia. Me apasiona el futbol, el cine, los videojuegos y la música.</p>
                    <a href="https://www.linkedin.com/in/robrondon/" class="see_more">LinkdIn</a>
                </div>
            </article>
            <article class="index_item">
                <img src="./images/us/Carol2019.jpg" alt="Carol neumeyer">
                <div class="index_item_description">
                    <h4>Carol Neumeyer</h4>
                    <h2>CEO</h2>
                    <p>
                        Formo parte de equipo de Diseño y desarrollo de Digital Drinks como
                        Full Stack Developer. <br>
                        Soy artista visual, trabajo en diseño gráfico y de producto. <br> Me gustan los libros, el cine, y viajar.</p>
                    <a href="https://www.linkedin.com/in/carolina-neumeyer-9bb62a8a/" class="see_more">LinkdIn</a>
                </div>
            </article>
        </section>
    </main>   
    <!--final visual de home/ posible partial-->
    <!--footer/partial-->
    <%- include('partials/footer') %>
    <!--final footer/partial-->
</body>
</html>