<footer class="footer_container">
    <article class="contact">
        <a href="#"><img src="/images/footer/contact.png" alt="">Contacto post-venta</a>
        <a href="#"><img src="/images/footer/info.png" alt="">¿Quienes somos?</a>
        <a href="#"><img src="/images/footer/sug.png" alt="">¿Dudas? ¿Sugerencias?</a>                
    </article>
    <article class="social_media">
        <p>Seguinos en nuestras redes sociales:</p>
        <div>
            <a href="#"><img src="/images/footer/facebook.svg" alt="Facebook"></a>
            <a href="#"><img src="/images/footer/instagram.svg" alt="Instagram"></a>
            <a href="#"><img src="/images/footer/twitter.svg" alt="Twitter"></a>
        </div>
    </article>
    <article class="copyright">
        <p>Copyright © Todos los derechos reservados</p>
    </article>
</footer>
<script src="/javascripts/slider.js"></script>