<header class="header_container">
    <div class="always_visible">
        <img src="/images/header/logoAzul.svg" alt="Digital Drinks Logo" class="logo">
       <a href="#" class="toggle_nav">
            <span class="fa fa-bars"></span>
        </a> 
    </div>
    <nav class="navigation_bar">
        <ul>
            <div class="sign_button">
                <li><a href="/login" class="sign_up_button"><b>Ingresar</b></a></li>
                <li><a href="/register" class="sign_in_button"><b>Crear Cuenta</b></a></li>
                <!-- <li><a href="log-out">Salir</a></li> -->
            </div>
            <div class="options">
                <li><a href="/"><img src="" alt="">Home</a></li>
                <li><a href="/products "><img src="" alt="">Productos</a></li>
                <li><a href="/courses"><img src="" alt="">Cursos</a></li>
                <li><a href="/recipes"><img src="" alt="">Recetas</a></li>
                <li><a href="/products/productsCart"><img src="" alt="">Carrito</a></li>
                <li><a href=""><img src="" alt="">Cuenta Administrador</a>
                    <ul class="admin_link">
                        <li><a href="/products/new">Añadir producto</a></li>
                        <li><a href="/recipes/new">Añadir receta</a></li>
                        <li><a href="/courses/new">Añadir curso</a></li>
                    </ul>
                </li>
                <div class="not_visible">
                    <li><a href="#"><img src="" alt="" >Contacto</a></li>
                    <li><a href="#"><img src="" alt="">Quienes somos</a></li>
                </div>  
            </div>
        </ul>
    </nav>
</header>