/*--------------------------------------------------------*/
/*Caracteristicas de reset de estilos por defecto del navegador*/
/*--------------------------------------------------------*/
* {
  padding: 0; /*Quita los padding por defecto del navegador dejando todo pegado a los bordes de la caja*/
  margin: 0; /*Quita los margenes generando que las cajas se peguen a los bordes del navegador*/
  box-sizing: border-box; /*Adapta el contenido dentro de una caja para que entre dentro de la medida deseada. Suma bordes, padding y margin, manteniendo todo dentro del width delimitado y no se expande*/
}
/*--------------------------------------------------------*/
/*caracteristicas dadas al body por cambio de fuente y uso de imagen de fondo*/
/*--------------------------------------------------------*/
body {
  background-image: url(/images/home/fondo.jpg); /*Imagen de fondo del site*/
  font-family: Verdana, sans-serif; /*Cambio de tipo de fuente para todo el texto escrito dentro del body*/
  background-repeat: repeat; /*No repite la imagen de fondo para rellenar*/
  background-attachment: fixed; /*Fija la imagen que aparece en el fondo y queda estatica*/
}
/*--------------------------------------------------------*/
/*Caja creada para dar estilos y centrados al cuerpo del site Y NO TOCAR EL BODY*/
/*--------------------------------------------------------*/
.central_container {
  width: 100%; /*Indica que va a ocupar el 100% del ancho*/
}
/*--------------------------------------------------------*/
/*Inicio de los stilos del header*/
/*--------------------------------------------------------*/
.header_container {
  /*ubica los elementos del header*/
  display: block;
  text-align: center;
  width: 100%;
}
/*Redimension del logo para poder centrarlo*/
.logo {
  width: 200px;
}
.navigation_bar a {
  /*quita la linea debajo de los vinculos*/
  text-decoration: none;
}
/*boton de navegacion*/
.toggle_nav {
  position: absolute;
  text-align: center;
  margin: 10px;
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: #483d8b;
  color: white;
  font-size: 30px;
  text-decoration: none;
  border-radius: 5px;
}
.toggle_nav:hover {
  background-color: #ff6600;
}
/*botones de login y registro*/
.sign_button {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  list-style: none;
}
.sign_in_button,
.sign_up_button {
  justify-content: center;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  color: white;
}
.sign_up_button,
.sign_in_button:hover {
  background-color: #483d8b;
}
.sign_in_button,
.sign_up_button:hover {
  background-color: #ff6600;
}
/*botones de opciones de navegacion para el usuario*/
.options {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.options li a {
  display: block;
  list-style: none;
  background-color: #483d8b;
  margin: 1px 0px;
  padding: 15px 0px 15px 15px;
  color: white;
  font-size: 20px;
  text-align: left;
}
.options li a:hover {
  background-color: #ff6600;
}
/*activacion del boton */
.navigation_bar {
  /*Oculta el menu de opciones para versión mobile*/
  display: none;
}
.navigation_bar.active {
  /*Activa el menu haciendoloo visible cuando se hace click sobre el toggle nav.*/
  display: block;
}
/*--------------------------------------------------------*/
/*Slider*/
/*--------------------------------------------------------*/
.contenedor {
  width: 100%;
  overflow: hidden;
}
.offer_style {
  position: absolute;
  width: 100%;
  display: block;
  text-align: left;
  padding: 1%;
  background-color: #ff660049;
}
.offer_style p,
.offer_style h2 {
  margin: 15px 15px 5px 100px;
}
.offer_style a {
  margin: 15px 15px 5px 100px;
}
.contenido-slider {
  width: 100%;
  height: 36vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}
.contenido-slider img {
  width: 100%;
  height: auto;
}
.contenido-slider a {
  color: white;
  background: rgba(3, 3, 70, 0.788);
  width: 150px;
  padding: 10px;
  display: block;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 200;
}
.contenido-slider a:hover {
  background: rgba(182, 48, 0, 0.8);
  transition: 1s;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/*--------------------------------------------------------*/
/*Organizacion de cajas item*/
/*--------------------------------------------------------*/
.item_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0px;
}
/*Estilos de cada caja item*/
.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 20px 0px;
  /* codigo para hacer el efecto donde se levanta la ventana o seleccion */
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
}
.item:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
} /*fin del levantamiento de ventana (?)*/
.item img {
  width: 80%;
  margin: 20px 5px;
  border-radius: 50%;
}
/*Arreglos de cajas de texto dentro de item*/
.item_description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 0px 20px 0px;
}
.item_description h2,
h4 {
  margin: 7px;
}
.item_description p {
  margin: 0px 10px;
}
/*--------------------------------------------------------*/
/* Barra de busqueda */
/*--------------------------------------------------------*/
.search_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.search_container input {
  border: solid 1px hotpink;
  padding: 5px;
  border-radius: 10px;
  width: 300px;
}
/* CSS products */
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 20px 0px;
  /* codigo para hacer el efecto donde se levanta la ventana o seleccion */
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
}
.product img {
  width: 150px;
  height: 150px;
  margin: 20px 5px;
}
.product_description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_description h2 {
  text-align: center;
}
/* Aside */
.categories_container {
  display: none;
}
/*Botones de ver mas*/
.see_more {
  color: white;
  background-color: #483d8b;
  margin: 15px;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
}
.see_more:hover {
  background-color: #ff6600;
}
/* estilo productCart */
.cart {
  width: 100%;
  box-sizing: border-box;
}
.cart2 {
  box-sizing: border-box;
  margin: auto;
  width: 90%;
}
.cart_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  border-bottom: solid 1px darkslateblue;
}
.cart_header img {
  width: 20%;
}
.cart_item {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
}
.cart_item img {
  width: 15%;
}
.cart_description {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cart_total {
  margin-top: 20px;
  border-top: solid 2px darkslateblue;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.cart_final {
  align-self: flex-end;
}
.btn {
  align-self: center;
}
/*--------------------------------------------------------*/
/* Estilos pagina detalle de recetas */
/*--------------------------------------------------------*/
.detail_container,
.product_detail_container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  align-content: center;
  justify-content: center;
  background-color: white;
  margin: auto;
  margin-top: 60px;
  padding: 25px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
.detail_container img {
  width: 25vh;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.detail_description {
  justify-content: space-between;
  margin: 15px 15px 0px 30px;
}
.detail_name {
  color: #ff6600;
  font-size: 25px;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
.recipe_description {
  color: #483d8b;
  margin-top: 25px;
}
.recipe_description h4,
.product_description h3 {
  font-size: 18px;
  text-decoration: underline;
}
.recipe_description p {
  margin: 5px 0px 0px 15px;
}
.return_to_list {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.return_to_list a {
  text-decoration: none;
  background-color: #483d8b;
  color: white;
  padding: 15px 55px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
}
.return_to_list a:hover {
  background-color: #ff6600;
}
.edition_button_recipes,
.products_detail_buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
}
.edition_button_recipes {
  margin-top: 15%;
}
.edition_button_recipes a,
.products_detail_buttons a,
.que_onda a {
  text-decoration: none;
  color: white;
  padding: 7px 30px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 15px;
}
.edition_button_recipes a,
.products_detail_buttons a,
.product_quantity a:hover {
  background-color: #483d8b;
}
.edition_button_recipes a:hover,
.products_detail_buttons a:hover,
.product_quantity a {
  background-color: #ff6600;
}
/* background-color: #fa1d1d; */
/*--------------------------------------------------------*/
/*Estilos de detalle de productos*/
/*--------------------------------------------------------*/
.product_detail_container img {
  width: 500px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.product_description {
  color: #483d8b;
}
.prices {
  display: flex;
  align-self: flex-start;
}
.prices h4 {
  color: #ff6600;
  margin-left: 25px;
}
.product_description h3 {
  margin: 30px 0px 10px 0px;
  align-self: flex-start;
}
.products_detail_buttons {
  margin-top: 8%;
}
.product_quantity {
  display: flex;
  margin-top: 5%;
}
.product_quantity label {
  color: #483d8b;
  font-weight: bold;
  margin-right: 10px;
  font-size: 20px;
}
.product_quantity input {
  border-radius: 15px;
  border: #483d8b 1px solid;
  padding: 5px 15px;
}
.product_quantity a {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border-radius: 15px;
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
}
/*--------------------------------------------------------*/
/*Estilos del footer*/
/*--------------------------------------------------------*/
.footer_container {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
.contact {
  display: none;
}
.footer_container a {
  text-decoration: none;
}
.footer_container img {
  width: 30px;
}
.footer_container p {
  margin-bottom: 15px;
}
.contact {
  display: none;
  float: left;
  align-items: flex-start;
  flex-direction: column;
  margin: 30px 0px;
  margin-left: 8%;
}
.contact a {
  text-decoration: none;
  color: black;
  margin: 10px;
  justify-content: center;
}
.contact a img {
  width: 25px;
  margin-right: 10px;
  justify-content: center;
}
.contact a:hover {
  color: #ff6600;
}
.social_media {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 30%;
  width: 40%;
  justify-content: space-around;
}
.copyright {
  position: static;
  margin: 10px 5px;
  font-size: 12px;
}
/*--------------------------------------------------------*/
/*responsive*/
/*--------------------------------------------------------*/
@media (min-width: 480px) {
  .logo {
    width: 300px;
  }
}
@media (min-width: 780px) {
  /*footer*/
  .footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #473d8b34;
    margin-top: 100px;
  }
  .contact {
    display: flex;
  }
  .social_media {
    float: right;
    flex-direction: column;
    margin: 30px 0px;
  }
  .social_media a {
    padding: 10px;
  }
  .social_media a img {
    width: 45px;
  }
  .copyright {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}
@media (min-width: 900px) {
  /*header y navbar*/
  .toggle_nav,
  .not_visible {
    display: none;
  }
  .navigation_bar {
    display: flex;
  }
  .header_container {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    width: 150%;
  }
  .sign_button {
    justify-content: right;
    margin-top: 60px;
  }
  .options {
    flex-direction: row;
  }
  .options li a {
    background-color: transparent;
    color: #483d8b;
    border-left: solid 2px #483d8b;
    padding: 8px;
    margin: 10px 0px;
    font-size: 18px;
  }
  .options li a:hover {
    background-color: #ff66006e;
  }
  /*slider*/
  .contenedor {
    margin: 70px 0px;
  }
  /*detalle de recetas*/
  .detail_container {
    flex-wrap: nowrap;
    width: 75%;
  }
  .detail_container img {
    width: auto;
    height: 350px;
    align-self: center;
  }
  /*detalle productos*/
  .product_detail_container {
    flex-wrap: nowrap;
    width: 85%;
  }
  .product_detail_container img {
    width: auto;
    height: 400px;
    align-self: center;
  }
  /*cajas de index donde linkeamos nuestros items*/
  .item {
    flex-wrap: wrap;
    width: 25%;
    margin: 20px;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  /*detalle de recetas*/
  .detail_container {
    width: 65%;
  }
  .product_detail_container {
    width: 75%;
  }
}
