body{
    background-color: white
    ;
    margin: 0;
    padding: 0;
    font-family: sans-serif;   
}

 .login-box{
    width: 320px;
    height: 420px; 
    background: rgba(240, 240, 240, 0.7); 
    color:darkslateblue; 
    top: 25%;
    left: 40%;
    translate: (-50%, -50%);
    box-sizing: border-box;
    border-radius: 10%;
    padding-top: 0px;
    position: absolute;
    padding-bottom: 70px;
    padding-left: 30px;
}
.login-box .logo {
    width: 50%;
    position: relative;
    top: 5px;
    align-items: center;
    
}
.login-box .h1{
    margin: 0;
    position: relative;
    bottom: 200px;
    padding:100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.login-box{
    text-align: center;
}
.login-box label{
    margin: 0;
    padding: 0px;
    font-weight: bold;
    display: block;
    text-align: center;
}

.login-box input{
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
    }
.login-box input [type="username"]{
color: darkslateblue;
font-size: 14px;
}
.login-box input[type="password"]{
    color: darkslateblue;
    font-size: 14px;
}

.login-box input[type="submit"]{
    background-color: #ff9100;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 30px;
}
.login-box a {
    color: darkslateblue;
    font-size: 12px;
    text-decoration: none;
}
.login-box a:hover{
    color: white;
}