/*--------------------------------------------------------*/
/*Caracteristicas de reset de estilos por defecto del navegador*/
/*--------------------------------------------------------*/
* {
    padding: 0; /*Quita los padding por defecto del navegador dejando todo pegado a los bordes de la caja*/
    margin: 0; /*Quita los margenes generando que las cajas se peguen a los bordes del navegador*/
    box-sizing: border-box; /*Adapta el contenido dentro de una caja para que entre dentro de la medida deseada. Suma bordes, padding y margin, manteniendo todo dentro del width delimitado y no se expande*/
}
/*--------------------------------------------------------*/
/*caracteristicas dadas al body por cambio de fuente y uso de imagen de fondo*/
/*--------------------------------------------------------*/
body {
    background-image: url(../images/fondo.jpg); /*Imagen de fondo del site*/
    font-family: Verdana, sans-serif; /*Cambio de tipo de fuente para todo el texto escrito dentro del body*/
    background-repeat: no-repeat; /*No repite la imagen de fondo para rellenar*/
    background-attachment: fixed; /*Fija la imagen que aparece en el fondo y queda estatica*/
}
/*--------------------------------------------------------*/
/*Fuente agregada para Digital Drinks*/
/*--------------------------------------------------------*/
@font-face {
    font-family: 'crunchyregular';
    src: url(../font/crunchy.woff2);
}
/*--------------------------------------------------------*/
/*Caja creada para dar estilos y centrados al cuerpo del site Y NO TOCAR EL BODY*/
/*--------------------------------------------------------*/
.central_container { /*Indica que va a ocupar el 100% del ancho*/
    width: 100%;
}
/*--------------------------------------------------------*/
/*Inicio de los stilos del header*/
/*--------------------------------------------------------*/
.header_container { /*Da propiedad flex a todos los elementos del header*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/*Organiza los elementos del header que siempre se ven en cualquier resolucion*/
.always_visible { 
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
/*Redimension del logo para poder centrarlo*/
.logo {
    width: 60%;
    margin-left: 20%;
}
/*Posición de toggle_nav*/
.toggle_nav {
    text-align: center;
    margin: 10px;
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: #483D8B;
    color: white;
    font-size: 30px;
    text-decoration: none;
    border-radius: 5px;
}
.toggle_nav:hover {
    background-color: #FF6600;
}
/*Estilos de la barra de navegación. Oculta para mobile*/
.navigation_bar { /*Oculta el menu de opciones para versión mobile*/
    display: none; 
}
/*Estilo y dimensiones de la lista*/
.navigation_bar ul li { 
    display: inline-block; /*Hace mas facil manejar los elementos dentro de la lista*/
    width: 100%; /*Ocupa el 100% del ancho de la pantalla usada*/
    list-style: none; /*Saca el punto negro de la lista*/
}
/*Caja base de dimensiones de los botones de login y registro*/
.sing_button {
    display: flex;
    text-decoration: none; /*Quita el subrayado de los hipervinculos*/
    width: 100%;
}
.sing_button a {
    text-decoration: none;
    color: white;
}
/*Estilos individuales de botones de registro y login*/
.sing_up_button, .sing_in_button { /*Si...dos clases compartiendo estilos*/
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}
.sing_up_button {
    background-color:#483D8B ;
} 
.sing_in_button {
    background-color: #FF6600;
}
.sing_up_button:hover {
    background-color:#FF6600 ;
} 
.sing_in_button:hover {
    background-color: #483D8B;
}
/*Estilos de etiqueta a dentro de nav*/
.options a { 
    display: block; /*Cancela la propiedad flex para colocar los items uno debajo del otro*/
    text-decoration: none; /*Quita el subrayado de los hipervinculos*/
    border: solid 1px white;
    padding: 10px 0px 10px 20px;
    color: white;
    background-color: #483D8B;
}
/*Estilos al pasar el cursor por arriba de los hipervinculos*/
.options a:hover { 
    background-color: #FF6600;
}
/*Dimensiones del icono y distancia de texto */
.options img { 
    width: 30px; /*Redimencion del icono*/
    margin-right: 15px; /*Distancia de texto*/
}
/*--------------------------------------------------------*/
/*Organizacion de cajas item*/
/*--------------------------------------------------------*/
.item_conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0px;
}
/*Estilos de cada caja item*/
.item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 20px 0px;
    /* codigo para hacer el efecto donde se levanta la ventana o seleccion */
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.25s;
}
.item:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
} /*fin del levantamiento de ventana (?)*/
.item img {
    width: 80%;
    margin: 20px 5px;
    border-radius: 50%;
}
/*Arreglos de cajas de texto dentro de item*/
.item_description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px 20px 0px;
}
.item_description h4 {
    margin: 7px;
}
.item_description p {
    margin: 0px 10px;
}
/*Botones de ver mas*/
.see_more {
    color: white;
    background-color: #483D8B;
    margin: 15px;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
}
.see_more:hover {
    background-color: #FF6600;
}
/*--------------------------------------------------------*/
/*Estilos del footer*/
/*--------------------------------------------------------*/
.footer_container {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}
.contact {
    display: none;
}
.footer_container a {
    text-decoration: none;
}
.footer_container img {
    width: 30px;
}
.footer_container p {
    margin-bottom: 15px;
}
.social_media {
    display: flex;
    align-items: center;
    margin-left: 30%;
    width: 40%;
    justify-content: space-around;
}
.copyright {
    position: static;
    margin: 10px 5px;
    font-size: 12px;
}

@media (min-width:600px) {
    .logo {
        width: 40%;
        margin-left: 8%;
    }
    .toggle_nav {
        margin-top: 15px;
        margin-right: 12%;
    }
}
@media (min-width:700px) {
    .logo {
        width: 30%;
        margin: 0px;
    }
    .navigation_bar img, .not_visible, .toggle_nav{
        display: none;
    }
    .navigation_bar {
        display: flex;
    }
}
