*{
    border: solid 1px black;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body_container{
    background-image: url(/img/home/fondo.jpg);
    font-family: Verdana, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

/* .central_container{
    width: 100%;
} */

.header_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.navigation_bar{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: blue;
}

.navigation_bar ul li{
    list-style-type: none;
    flex-grow: 1;
    background-color: yellow;
}
