body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: sans-serif;  
    box-sizing: border-box; 
    display: flex;
    justify-content: center;

}

 .reg-box{

    width: 320px;
    height: 520px; 
    background: whitesmoke;
    color:darkslateblue; 
    border-radius: 5%;
    margin-top: 70px;
 }

.reg-box  .logo {
    width: 50%;
    position: relative;
    top: 5px;
    align-items: center;
    
}

.reg-box .h1{
    margin: 0;
    position: relative;
    bottom: 200px;
    padding:100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.reg-box{
    text-align: center;
}
.reg-box label{
    margin: 10px;
    padding: 0px;
    font-weight: bold;
    display: block;
    text-align: center;
}

.reg-box input{
    width: 80%;
    /* margin-bottom: 20px; */
    text-align: center;
    }

.reg-box textarea{
    width: 80%;
    height: 60px;
}


.reg-box button[type="submit"]{
    background-color: #ff9100;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
}

.reg-box button:hover {
	transform: translateY(5px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    background-color: darkslateblue;
}
.reg-box a {
    color: darkslateblue;
    font-size: 12px;
    text-decoration: none;
}
