<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/styles.css">
    <script src="https://kit.fontawesome.com/5376d63d7e.js" crossorigin="anonymous"></script>
    <meta name="description" content="cocktails, drinks, bar tools, herramientas de barra, cocteleras, cocktails recepies, recetas de cocteles, cursos de cocteleria">
    <title>Carrito| Digital Drinks </title>
</head>
<body>
    <div class="central_container">
    <!--header/partial-->
    <%- include('../partials/header') %>
    <!--fin header/partial-->
<!-- COntenido carrito -->
        <main class="cart">

            <div class="cart2">
                <div class="cart_header">
                    <h3>Mi Carrito</h3>
                    <img src="/images/header/carrito.png" alt="">
                </div>
                <article class="cart_item">
                    <img src="/images/products/cocktail-french-tins-shaker.jpg" alt="">
                    <div class="cart_description">
                    <p>$</p>
                    <p>Nombre Producto</p>
                </div>
                <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number">
                    <label for="precio_total">Subtotal</label>
                    <input type="number">
                </div>
                    <button><a href="">Eliminar</a></button>
                </article>
                <article class="cart_item">
                    <img src="/images/products/cocktail-shaker-boston.jpg" alt="">
                <div class="cart_description">
                    <p>$</p>
                    <p>Nombre Producto</p>
                </div>
                <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number">
                    <label for="precio_total">Subtotal</label>
                    <input type="number">
                </div>
                    <button><a href="">Eliminar</a></button>
                </article>
                <article class="cart_item">
                    <img src="/images/products/cocktail-shaker-cobbler.jpg" alt="">
                    <div class="cart_description">
                    <p>$</p>
                    <p>Nombre Producto</p>
                </div>
                <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number">
                    <label for="precio_total">Subtotal</label>
                    <input type="number">
                </div>
                    <button><a href="">Eliminar</a></button>
                </article>
                <article class="cart_item">
                    <img src="/images/products/cocktail-shaker-boston.jpg" alt="">
                    <div class="cart_description">
                    <p>$</p>
                    <p>Nombre Producto</p>
                </div>
                <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number">
                    <label for="precio_total">Subtotal</label>
                    <input type="number">
                </div>
                    <button><a href="">Eliminar</a></button>
                </article>
                <article class="cart_item">
                    <img src="/images/products/cocktail-shaker-boston.jpg" alt="">
                    <div class="cart_description">
                    <p>$</p>
                    <p>Nombre Producto</p>
                </div>
                    <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number">
                    <label for="precio_total">Subtotal</label>
                    <input type="number">
                </div>
                    <button><a href="">Eliminar</a></button>
                </article>
                <article class="cart_total">
                    <div class="cart_final">
                    <label for="precio_total">Total</label>
                    <input type="number">
                    </div>
                    <!-- Como completar el monto total -->
                    <button type="submit" class="btn">Comprar</button>
                    <button type="reset" class="btn">Vaciar carrito</button>
                </article>
            </div>            
        </main>
    <!--footer/partial-->
    <%- include('../partials/footer') %>
    <!--final footer/partial-->
    <script src="./javascripts/slider.js"></script>
</body>
</html>