<!DOCTYPE html>
<html lang="en">
    <!--head/partial-->
    <%- include('../partials/head', {title: 'Carrito| Digital Drinks'}) %>
    <!--fin head/partial-->
<body>
    <div class="central_container">
    <!--header/partial-->
    <%- include('../partials/header') %>
    <!--fin header/partial-->
<!-- COntenido carrito -->
<link rel="stylesheet" href="/stylesheets/productCart.css">
        <main class="cart">
            <div class="cart2">
                <div class="cart_header">
                    <h3>Mi Carrito</h3>
                    <img class= "carrito" src="/images/header/carrito.png" alt="">
                </div>
                <!-- Aqui comienza lo que lleva el carrito,  -->

                <article class="cart_item">
                    <img src="" alt="foto">
                <div class="cart_description">
                    <p>$ _____________</p><br>
                    <p>Nombre Producto</p>
                </div>
                <div >
                    <label for="cantidad">Cantidad</label>
                    <input type="number">
                    <label for="precio_total">Subtotal</label>
                    <input type="number">
                </div>
                    <button><a href="">Eliminar</a></button>
                </article>


                 <!-- Aqui terminael primercarrito,  -->

                <article class="cart_item">
                    <img src="" alt="foto">
                    <div class="cart_description">
                    <p>$</p>
                    <p>Nombre Producto</p>
                </div>
                <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number">
                    <label for="precio_total">Subtotal</label>
                    <input type="number">
                </div>
                    <button><a href="">Eliminar</a></button>
                </article>
                <article class="cart_item">
                    <img src="" alt="foto">
                    <div class="cart_description">
                    <p>$</p>
                    <p>Nombre Producto</p>
                </div>
                <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number">
                    <label for="precio_total">Subtotal</label>
                    <input type="number">
                </div>
                    <button><a href="">Eliminar</a></button>
                </article>
                <article class="cart_item">
                    <img src="" alt="foto">
                    <div class="cart_description">
                    <p>$</p>
                    <p>Nombre Producto</p>
                </div>
                    <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number">
                    <label for="precio_total">Subtotal</label>
                    <input type="number">
                </div>
                    <button><a href="">Eliminar</a></button>
                </article>
                <article class="cart_total">
                    <div class="cart_final">
                    <label for="precio_total">Total</label>
                    <input type="number">
                    </div>
                    <!-- Como completar el monto total -->
                    <button type="submit" class="btn">Comprar</button>
                    <button type="reset" class="btn">Vaciar carrito</button>
                </article>
            </div>            
        </main>
    <!--footer/partial-->
    <%- include('../partials/footer') %>
    <!--final footer/partial-->
    <script src="./javascripts/slider.js"></script>
</body>
</html>