<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/styles.css">
    <script src="https://kit.fontawesome.com/5376d63d7e.js" crossorigin="anonymous"></script>
    <meta name="description" content="cocktails, drinks, bar tools, herramientas de barra, cocteleras, cocktails recepies, recetas de cocteles, cursos de cocteleria">
    <title>Carrito| Digital Drinks </title>
</head>
<body>
    <div class="central_container">
        <header class="header_container">
            <div class="always_visible">
                <img src="/images/header/logoAzul.svg" alt="Digital Drinks Logo" class="logo">
                <!-- <a href="#" class="toggle_nav">
                    <span class="fa fa-bars"></span>
                </a> -->
            </div>  
            <nav class="navigation_bar">
                <ul>
                    <div class="sign_button">
                        <li>
                            <a href="" class="sign_up_button"><b>Ingresar</b></a>
                        </li>
                         <li>
                             <a href="" class="sign_in_button"><b>Crear Cuenta</b></a>  
                        </li>
                    </div>
                    <div class="options">
                        <li><a href="#"><img src="" alt="">Mi cuenta</a></li>
                        <li><a href="#"><img src="" alt="">Carrito</a></li>
                        <li><a href="#"><img src="" alt="">Home</a></li>
                        <li><a href="#"><img src="" alt="">Productos</a></li>
                        <li><a href="#"><img src="" alt="">Cursos</a></li>
                        <li><a href="#"><img src="" alt="">Recetas</a></li>
                        <div class="not_visible">
                            <li ><a href="#"><img src="" alt="" >Contacto</a></li>
                            <li><a href="#"><img src="" alt="">Quienes somos</a></li>
                        </div>  
                    </div>
				</ul>
            </nav>
        </header>

<!-- COntenido carrito -->
        <main class="cart">

            <div class="cart2">
                <div class="cart_header">
                    <h3>Mi Carrito</h3>
                    <img src="/images/header/carrito.png" alt="">
                </div>
                <article class="cart_item">
                    <img src="/images/products/cocktail-french-tins-shaker.jpg" alt="">
                    <div class="cart_description">
                    <p>$

                      </p>
                    <p>
                     Nombre Producto
                    </p>
                </div>
                <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number">
                    <label for="precio_total">Subtotal</label>
                    <input type="number">
                </div>
                    <button>
                        <a href="">Eliminar</a>
                    </button>

                </article>

                <article class="cart_item">
                    <img src="/images/products/cocktail-shaker-boston.jpg" alt="">
                <div class="cart_description">
                    <p>$

                      </p>
                    <p>
                    Nombre Producto
                    </p>
                </div>
                <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number">
                    <label for="precio_total">Subtotal</label>
                    <input type="number">
                </div>
                    <button>
                        <a href="">Eliminar</a>
                    </button>

                </article>

                <article class="cart_item">
                    <img src="/images/products/cocktail-shaker-cobbler.jpg" alt="">
                    <div class="cart_description">
                    <p>$

                      </p>
                    <p>
                     Nombre Producto
                    </p>
                </div>
                <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number">
                    <label for="precio_total">Subtotal</label>
                    <input type="number">
                </div>
                    <button>
                        <a href="">Eliminar</a>
                    </button>

                </article>

                <article class="cart_item">
                    <img src="/images/products/cocktail-shaker-boston.jpg" alt="">
                    <div class="cart_description">
                    <p>$

                      </p>
                    <p>
                        Nombre Producto
                    </p>
                </div>
                <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number">
                    <label for="precio_total">Subtotal</label>
                    <input type="number">
                </div>
                    <button>
                        <a href="">Eliminar</a>
                    </button>

                </article>

                <article class="cart_item">
                    <img src="/images/products/cocktail-shaker-boston.jpg" alt="">
                    <div class="cart_description">
                    <p>$

                      </p>
                    <p>
                        Nombre Producto
                    </p>
                </div>
                    <div>
                    <label for="cantidad">Cantidad</label>
                    <input type="number">
                    <label for="precio_total">Subtotal</label>
                    <input type="number">
                </div>
                    <button>
                        <a href="">Eliminar</a>
                    </button>

                </article>
               
                <article class="cart_total">
                    <div class="cart_final">
                    <label for="precio_total">Total</label>
                    <input type="number">
                    </div>
                    <!-- Como completar el monto total -->
                    <button type="submit" class="btn">
                        Comprar
                    </button>
                    <button type="reset" class="btn">
                      Vaciar carrito
                    </button>
                </article>
    
            </div>

            
        </main>





        <footer class="footer_container">
            <article class="contact">
                <a href="#"><img src="images/carrito.png" alt="">Quienes somos</a>
                <a href="#"><img src="images/carrito.png" alt="">Contacto</a>                
            </article>
            <article>
                <p>Seguinos en nuestras redes sociales:</p>
                <div class="social_media">
                    <a href="#">
                        <img src="/img/footer/facebook.svg" alt="Facebook">
                    </a>
                    <a href="">
                        <img src="/img/footer/instagram.svg" alt="Instagram">
                    </a>
                    <a href="">
                        <img src="/img/footer/twitter.svg" alt="Twitter">
                    </a>
                </div>
            </article>
            <article class="copyright">
                <p>Copyright © Todos los derechos reservados</p>
            </article>
        </footer>
</body>
</html>