<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registro |Digital Drinks</title>
    <link rel="stylesheet" href="../stylesheets/style_reg.css">
    <script src="https://kit.fontawesome.com/5376d63d7e.js" crossorigin="anonymous"></script>
    <meta name="description" content="cocktails, drinks, bar tools, herramientas de barra, cocteleras, cocktails recepies, recetas de cocteles, cursos de cocteleria">
</head>
<body>
    <div class="centrado">
        <div class="reg-box">
            <a href="/"><img class="logo"  src="/images/header/logoAzul.svg" alt="Logo de DD"></a>
            <h2> Registrate aquí</h2>
            <form action="/users/register" method="POST">
            <div class="reg-fill">  
                <label for="firstName">Nombre</label>
                <input type="text" name="firstName" placeholder="Alfonsina Storni">

                <label for="lastName">Apellido</label>
                <input type="text" name="lastName" placeholder="Alfonsina Storni">

                <label for="username"> Nombre de Usuario </label>
                <input type="text"  name="username" >

                <label for="birthday">Fecha de Nacimiento</label>
                <input type="date" name="birthday">

                <label for="email"> Correo electrónico </label>
                <input type="email"  name="email" 
                placeholder="AlfonsinaStorni@gmail.com">

                <label for="password">Password</label> 
                <input type="password" name="password" placeholder="Password">
            </div>
            <input type="submit" value="Enviar" class="reg-button">
            <!-- <a href="/" class="reg-button">Enviar</a> -->
            </form>
        </div>
    </div>    
</body>
</html>